
/* Custom styles */

body {
  color: #222;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

aside, header, footer, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3C72D1;
}

a:not(.block-link):hover {
  opacity: 0.8;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/* Inputs, textareas, and buttons */
input, textarea {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 200px;
  font-size: 1em;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*box-shadow: -1px -1px 5px #ccc;*/
}

.btn {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 2px solid #3C72D1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-outlined {
  color: #3C72D1;
  background: transparent;
}

.btn-filled {
  color: #fff;
  background: #3C72D1;
}

/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

[class*="col"] {
  float: left;
  min-height: 1px;
  margin: 0.5em 0 0.5em 2.75%;
}

[class*="col"]:first-child {
  margin-left: 0;
}

.col1 {width: 5.8125%;}
.col2 {width: 14.375%;}
.col3 {width: 22.9375%;}
.col4 {width: 31.5%;}
.col5 {width: 40.0625%;}
.col6 {width: 48.625%;}
.col7 {width: 57.1875%;}
.col8 {width: 65.75%;}
.col9 {width: 74.3125%;}
.col10 {width: 82.875%;}
.col11 {width: 91.4375%;}
.col12 {width: 100%;}

header {
  background: aliceblue;
  padding: 1em;
  font-size: 0.9em;
}

.header-list {
  margin: 1em;
}

.header-list-item {
  display: inline-block;
  margin: 0 0.25em;
}

.sidebar {
  background: aliceblue;
  padding: 1em 0;
  margin: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sidebar-header {
  padding: 1em 1em 0;
}

.sidebar-title {
  font-weight: 700;
  margin: 0.5em 0;
}

.sidebar-list, .footer-list {
  margin: 0.25em 0 1em;
}

.sidebar-list-item {
  border-style: solid;
  border-color: #DEEAFF;
  border-width: 0 0 1px 0;
}

.block-link {
  display: block;
  padding: 0.8em 1em;
}

.block-link:hover {
  background: #D7E6FF;
}

.see-more-link {
  padding: 1.2em;
}

.photo-featured {
  width: 100%;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}

.small {
  font-size: 0.8em;
}

.caps {
  text-transform: uppercase;
  border-style: solid;
  border-color: #3C72D1;
  border-width: 0 0 2px 0;
  color: #3c72d1;
  padding: 0.5em 1em 0.5em 0;
  margin: 0 0 0.8em 0;
}

.price-left {
  font-size: 1.3em;
  margin: 0 -3px 0 0;
}

.price-right {
  font-size: 0.7em;
  margin: -4px 0 0 0;
}

footer {
  margin: 2em 0 0 0;
  padding: 1em;
  background: aliceblue;
}

.center {
  text-align: center;
}

.secondary {
  font-size: 0.9em;
}

.card {
  position: relative;
  border-style: solid;
  border-color: #D7E6FF;
  border-width: 0 0 2px 0;
  background: aliceblue;
  height: 330px;
  margin: 0 2px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: aliceblue;
  padding: 1em;
}

.footer-list-item {
  line-height: 1.5em;
}

@media (max-width: 768px) {
  [class*="col"] {
    float: none;
    width: auto;
    padding: 0;
    margin: 1em auto;
  }

  .card {
    height: auto;
  }

  header, footer {
    text-align: center;
  }
}
