
/* Custom styles */

body {
  color: #222;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

aside, header, footer, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3C72D1;
}

a:hover {
  opacity: 0.8;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/* Inputs, textareas, and buttons */
input, textarea {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 200px;
  font-size: 1em;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #3C72D1;
}

.btn {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-outlined {
  color: #3C72D1;
  border: 2px solid #3C72D1;
  background: transparent;
}

.btn-filled {
  color: #fff;
  background: #3C72D1;
}

/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.row:not(.container) {
  margin: 1em 0;
}

[class*="col"] {
  float: left;
  padding: 0 1%;
}

.col2 { width: 15%; }
.col3 { width: 21%; }
.col4 { width: 30%; }
.col6 { width: 47%; }
.col8 { width: 70%; }
.col9 { width: 74%; }

header {
  background: aliceblue;
  padding: 1em;
  font-size: 0.9em;
}

.header-list {
  margin: 1em;
}

.header-list-item {
  display: inline-block;
  margin: 0 0.25em;
}

.sidebar {
  background: aliceblue;
  padding: 1em;
  margin: 1em 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sidebar-header {
  font-weight: 700;
  margin: 0.5em 0;
}

.sidebar-list {
  margin: 0.25em 0 1em;
}

.sidebar-list-item {
  padding: 0.25em 0;
}

.block-link {
  display: block;
  padding: 0.5em;
}

.block-link:hover {
  color: #fff;
  background: #3C72D1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.photo {
  width: 100%;
}

p {
  margin: 1em 0;
  line-height: 1.2em;
}

.small {
  font-size: 0.8em;
}

.caps {
  text-transform: uppercase;
}

.price-left {
  font-size: 1.3em;
  margin: 0 -3px 0 0;
}

.price-right {
  font-size: 0.7em;
  margin: -4px 0 0 0;
}

footer {
  margin: 2em 0 0 0;
  padding: 1em;
  background: aliceblue;
}

.center {
  text-align: center;
}

.secondary {
  font-size: 0.9em;
}
